@import 'nib'

animation-name()
  -webkit-animation-name arguments
  -moz-animation-name arguments
  -ms-animation-name arguments
  animation-name arguments

animation-timing-function()
  -webkit-animation-timing-function arguments
  -moz-animation-timing-function arguments
  -ms-animation-timing-function arguments
  animation-timing-function arguments

#steepr section
  background white url('../images/bgnoise_lg.png')
  background-size 50%

.ui-header,
.ui-foooter
  background  linear-gradient(top, #612800, #2e1300)
  box-shadow 0 1px 5px #999

/*
.ui-header
  margin 0
  background none
  border none
  height 11px
  .ribbon
    position relative
    display block
    background url('../images/stitch.png') repeat-x bottom
    height 11px
    z-index 100

.ui-header .ui-title
  position relative
  top -5px
  padding 15px 0 20px 0
  http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
  /*  text-indent 100%
  white-space nowrap
  overflow hidden
  
  margin 0 auto
  width 94px
  background url('../images/tag.png') no-repeat bottom center
  color black
  z-index 90
  text-shadow none
*/

#steepr
  header
    font-family "MuseoSlab500"
    font-weight normal
    .ui-title
      font-size 21px
      margin 10px

#tea-list 
  margin 35px 0 0 0
/* swipe default styles */
.swipe
  position relative
  b
    display block
    width 10px
    height: 300px
    position absolute
    top 0
    &.left
      left 0
      background url('../images/perforation-left.png') no-repeat
    &.right
      right 0
      background url('../images/perforation-right.png') no-repeat
      
      /* background url('../images/perforation-right.png') no-repeat*/
  
  ol, ul
    margin 0 0 5px 0
    padding 0 0 0 10px
  li
    position relative
  li div.tea-slide
    height 188px
    position relative
    margin 0 10px
    padding 50px 10px 20px
    font-weight bold
    color #333
    text-shadow 0 1px #fff
    font-size 24px
    text-align center
    background url('../images/paper-bg.png') repeat-x
    h2
      color #005e20
      font-size 60px
      font-family "ChunkFiveRegular"
      margin 0
      font-weight normal
    p
      font-family "MuseoSlab500"
      font-size 16px
      color #2e1300
      text-shadow 0 1px 0 #fff
      font-weight normal
    .count
      font-family "Helvetica Neue", "Helvetica", "Arial", sans
      font-weight bold
      color #fff
      text-shadow 0 1px #999
      display inline-block
      border-radius 12px
      background rgba(184,184,184,.8)
      box-shadow 0 1px 0 #999 inset, 0 1px 0 #fff
      padding 3px 10px 3px
    /* background linear-gradient(left, 0% #e5e5e5, 30% white, 70% white, 100% #e5e5e5) */



inset-background(color)
  background color url("../images/bgnoise_lg.png") repeat
  background-size 50% 

#home
  .content
    padding 0
  #steep-button
    padding 30px
    #steepit
      box-shadow 0 1px 5px #999
      border 1px solid #306100
      background linear-gradient(top, #688700, #306100)
      color #e0e0e0
      text-shadow 0 -1px #000
    .ui-btn-corner-all
      border-radius 12px
    .ui-btn-inner
      padding 10px
      .ui-btn-text
        /*text-transform uppercase*/
        font-weight bold
        font-size 18px

#steep
  .content
    padding 0
    overflow hidden

centered-bgimage(uri)
  background url(uri) no-repeat center center



#leaves
  height 380px
  margin 0 auto
  centered-bgimage('../images/leaves.png')

  #mug
    position relative
    margin 0 auto
    top 32px
    z-index 80
    height 315px
    width 245px
    centered-bgimage('../images/mug-trans.png')

  #tea
    top -337px
    left -1px
    z-index 90
    position relative
    margin 0 auto
    height 210px
    width 210px
    background rgba(255,255,255,.1)
    transition-property transform
    transition-timing-function linear
    border-radius 115px

  #time
    top -180px
    position relative
    display block
    text-align center
    margin 0 auto
    z-index 100
    text-shadow 0 -1px #270e0a
    width 200px
    color #e0e0e0
    font-size 88px
    font-family "FranchiseRegular"
    b
      color #8a470a

  /* brewing animations */
  &.brewing
    #tea
      animation-name(greentea)
      animation-timing-function(linear)
      /*transform scale(10.5)*/
      background rgba(106,65,36,.8)
    #mug
      transform rotate(360deg)
      transition-property transform
      transition-timing-function ease-out

#timer
  padding 70px 0
  background url("../images/tea-with-mug.png") no-repeat center center
  .inner
    position relative
    text-align center
    padding 40px
    border-radius 125px
    height 150px
    width 150px
    margin 0 auto
    box-shadow 0 0px 10px #000
    text-shadow 0 2px #fff
    border 1px solid #999

    p
      margin 0 0 90px
      font-size 32px
      font-family "WisdomScriptAIRegular"
      &.tea
        margin-top -10px
      .steeping
        margin-top 0

    time


