@import 'nib'

@-webkit-keyframes greentea {
  0%   { background: white }
  25%  { background: yellow }
  50%  { background: #acd373 }
  75%  { background: #005e20 }
  100% { background: #736357 }
}
@-moz-keyframes greentea {
  0%   { background: white }
  25%  { background: yellow }
  50%  { background: #acd373 }
  75%  { background: #005e20 }
  100% { background: #736357 }
}
@-ms-keyframes greentea {
  0%   { background: white }
  25%  { background: yellow }
  50%  { background: #acd373 }
  75%  { background: #005e20 }
  100% { background: #736357 }
}

.initial {
  background: red;
}

#other {
  height: 50%;
  width: 50%;
  margin: 50px auto;
  border: 5px solid black;
}

#steep .content {}

.brewing {
  -webkit-animation-name: greentea;
  -moz-animation-name: greentea;
  -ms-animation-name: greentea;
  animation-name: greentea;

/*  -webkit-animation-duration: 9s;
  -moz-animation-duration: 9s;
  -ms-animation-duration: 9s;
  animation-duration: 9s;
  animation-duration: 9s;*/

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
}


.blue {
  background: blue;
}

/*  
    zero out some sizes from h5mbp:
    conflicts with swipes default margins
*/

.swipe ol,
.swipe ul {
  margin: 0;
  padding: 0;
}

/* swipe default styles */
.swipe {
  padding-bottom:20px;
}

.swipe li div,
.swipe div div div {
  margin:0 10px;
  padding:50px 10px;
  font-weight:bold;
  color: #333;
  text-shadow: 0 1px #fff;
  font-size:20px;
  text-align:center;
  border-radius: 5px;
}

#home
  .content
    padding 0
  #steep-button
    box-shadow 0 1px 5px #999 inset
    padding 20px
    background white url("../images/bgnoise_lg.png") repeat


#steep
  .content
    padding 0
    background url("../images/subtle_freckles.png") repeat

#timer
  padding 70px 0
  background url("../images/loose_green.png") no-repeat center center
  .inner
    position relative
    text-align center
    padding 40px
    background white url("../images/bgnoise_lg.png") repeat
    border-radius 125px
    height 150px
    width 150px
    margin 0 auto
    box-shadow 0 1px 5px #000 inset
    text-shadow 0 2px #fff

    p
      margin 0 0 90px
      font-size 32px
      font-family "WisdomScriptAIRegular"
      &.tea
        margin-top -10px
      .steeping
        margin-top 0

    time
      position absolute
      width 200px
      top 60px
      left 15px
      color #362925
      font-size 88px
      font-family "FranchiseRegular"
      b
        color #7d7776




