@import 'nib'

animation-name()
  -webkit-animation-name arguments
  -moz-animation-name arguments
  -ms-animation-name arguments
  animation-name arguments

animation-timing-function()
  -webkit-animation-timing-function arguments
  -moz-animation-timing-function arguments
  -ms-animation-timing-function arguments
  animation-timing-function arguments



#fluid
  left 48%
  top 200px
  height 50px
  width 50px
  background rgba(255,255,255,0)
  position absolute
  transition-property transform
  transition-timing-function linear
  border-radius 115px
  &.brewing
    animation-name(greentea)
    animation-timing-function(linear)
    transform scale(4.6)

/* swipe default styles */
.swipe
  ol, ul
    margin 0
    padding 0

  li div,
  div div div
    margin 0 10px
    padding 20px 10px
    font-weight bold
    color #333
    text-shadow 0 1px #fff
    font-size 20px
    text-align center
    border-radius 5px
    background white

inset-background(color)
  background color url("../images/bgnoise_lg.png") repeat

#home
  .content
    padding 0
  #steep-button
    inset-background(white) 
    box-shadow 0 1px 5px #999 inset
    padding 20px

#steep
  .content
    padding 0
    inset-background(white)

#timer
  padding 70px 0
  background url("../images/tea-with-mug.png") no-repeat center center
  .inner
    background rgba(238,238,238,.5)
    position relative
    text-align center
    padding 40px
    border-radius 125px
    height 150px
    width 150px
    margin 0 auto
    box-shadow 0 0px 10px #000
    text-shadow 0 2px #fff
    border 1px solid #999

    p
      margin 0 0 90px
      font-size 32px
      font-family "WisdomScriptAIRegular"
      &.tea
        margin-top -10px
      .steeping
        margin-top 0

    time
      position absolute
      width 200px
      top 60px
      left 15px
      color #362925
      font-size 88px
      font-family "FranchiseRegular"
      b
        color #7d7776

