<b class="left"></b>
<div class="tea-slide">
  <h2>{{name}}</h2>
  <p class="round-{{round}}">Steepings this round: {{round}}</p>
  <p>Total steepings: <span class="count">{{total}}</span></p>
</div>
<b class="right"></b>