
@font-face {
    font-family: 'WisdomScriptAIRegular';
    src: url('fonts/wisdom_script-webfont.eot');
    src: url('fonts/wisdom_script-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/wisdom_script-webfont.woff') format('woff'),
         url('fonts/wisdom_script-webfont.ttf') format('truetype'),
         url('fonts/wisdom_script-webfont.svg#WisdomScriptAIRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

