html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  -webkit-text-size-adjust: none;
  font-family: sans-serif;
}
#steepr {
  background: url("../img/beige-carpet.png") repeat;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
}
#steepr .ui-btn-up-steepr,
#steepr .ui-btn-hover-steepr,
#steepr .ui-btn-active-steepr {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  top: 5px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4e3d29), color-stop(1, #2e2519));
  background: -webkit-linear-gradient(top, #4e3d29 0%, #2e2519 100%);
  background: -moz-linear-gradient(top, #4e3d29 0%, #2e2519 100%);
  background: -o-linear-gradient(top, #4e3d29 0%, #2e2519 100%);
  background: -ms-linear-gradient(top, #4e3d29 0%, #2e2519 100%);
  background: linear-gradient(top, #4e3d29 0%, #2e2519 100%);
  border: 1px solid rgba(36,28,10,0.60);
  -webkit-box-shadow: 0 1px #493c2d, 0 2px 5px #2f2519 inset;
  box-shadow: 0 1px #493c2d, 0 2px 5px #2f2519 inset;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 38px;
  height: 29px;
}
#steepr .ui-btn-up-steepr .ui-btn-inner,
#steepr .ui-btn-hover-steepr .ui-btn-inner,
#steepr .ui-btn-active-steepr .ui-btn-inner {
  border: 0;
  display: block;
  height: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0;
}
#steepr .ui-btn-up-steepr .ui-icon,
#steepr .ui-btn-hover-steepr .ui-icon,
#steepr .ui-btn-active-steepr .ui-icon {
  height: 24px 22px;
  background: url("../img/back-arrow.png") no-repeat center center;
  -webkit-background-size: 24px 22px;
  -moz-background-size: 24px 22px;
  background-size: 24px 22px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  left: 10px;
  top: 15px;
}
#steepr .ui-btn-hover-steepr,
#steepr .ui-btn-hover-active {
  background: #2e2519;
}
#steepr header.ui-bar-steepr {
  height: 44px;
  background: url("../img/clove-texture-81.png") repeat-x;
  -webkit-background-size: 50px 44px;
  -moz-background-size: 50px 44px;
  background-size: 50px 44px;
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.60);
  box-shadow: 0 1px 10px rgba(0,0,0,0.60);
}
#steepr header.ui-bar-steepr .ui-title {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  height: 44px;
  width: 77px;
  background: url("../img/steepr-logo.png") no-repeat;
  -webkit-background-size: 77px 44px;
  -moz-background-size: 77px 44px;
  background-size: 77px 44px;
}
#steepr header.ui-bar-steepr .steepr-button a {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
}
#steepr header.ui-bar-steepr .steepr-button a:hover {
  background: #2e2519;
}
#steepr header.ui-bar-steepr #info,
#steepr header.ui-bar-steepr #config {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
#steepr header.ui-bar-steepr #info .ui-btn-inner {
  background: url("../img/i.png") no-repeat center center;
  -webkit-background-size: 8px 17px;
  -moz-background-size: 8px 17px;
  background-size: 8px 17px;
}
#steepr header.ui-bar-steepr #config .ui-btn-inner {
  background: url("../img/cogs.png") no-repeat center center;
  -webkit-background-size: 19px 23px;
  -moz-background-size: 19px 23px;
  background-size: 19px 23px;
}
#steepr #home .ui-body-steepr {
  padding: 0;
}
#steepr #home #tea-selector ul {
  background: url("../img/brown-paper.png") repeat-x;
  background-position: 0 -36px;
  -webkit-background-size: 1103px 283px;
  -moz-background-size: 1103px 283px;
  background-size: 1103px 283px;
  padding-bottom: 37px;
}
#steepr #home #tea-selector ul li {
  padding-top: 17px;
}
#steepr #home #tea-selector ul li padding-bottom 75px {
  margin: 0 auto;
}
#steepr #home #tea-selector ul li .label {
  margin: 0 auto;
  height: 130px;
  width: 300px;
  padding: 40px 10px 20px;
  background: url("../img/label-paper.png") no-repeat top center;
  -webkit-background-size: 299px 190px;
  -moz-background-size: 299px 190px;
  background-size: 299px 190px;
}
#steepr #home #tea-selector ul li .label .counter {
  float: left;
  width: 62px;
  height: 102px;
  margin: 0 10px 0 28px;
}
#steepr #home #tea-selector ul li .label .counter .leaf {
  margin: 0;
  height: 100%;
  background: url("../img/leaf-counter.png") no-repeat center center;
  -webkit-background-size: 61px 102px;
  -moz-background-size: 61px 102px;
  background-size: 61px 102px;
}
#steepr #home #tea-selector ul li .label .type {
  float: left;
  width: 178px;
  background: transparent;
}
#steepr #home #tea-selector ul li .label h2 {
  text-align: center;
  color: #6b7823;
  font: normal 48px/40px 'ChunkFiveRegular', serif;
  text-shadow: 0 1px #fff;
  padding-bottom: 20px;
  border-bottom: 1px solid #dbd7ca;
}
#steepr #home #tea-selector ul li .label p {
  text-shadow: 0 1px #fff;
  border-top: 1px solid #fff;
  padding-top: 20px;
  color: #000;
  font: normal 15px/20px "MuseoSlab500", sans-serif;
}
#steepr #home #tea-selector ul li .label p .count {
  display: inline-block;
  margin-left: 10px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px #666;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background: rgba(184,184,184,0.80);
  -webkit-box-shadow: 0 1px 0 #999 inset, 0 1px 0 #fff;
  box-shadow: 0 1px 0 #999 inset, 0 1px 0 #fff;
  padding: 2px 10px;
}
#steepr #home #tea-selector-nav {
  margin: 0px auto;
  text-align: center;
}
#steepr #home #tea-selector-nav em {
  font-style: normal;
}
#steepr #home #tea-selector-nav #position {
  font-size: 30px;
  line-height: 10px;
}
#steepr #home #tea-selector-nav #position em {
  font-size: 30px;
  line-height: 10px;
  display: inline-block;
  height: 10px;
  background-color: #c2bbb4;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: rgba(255,255,255,0.50) 0px 1px 1px;
}
#steepr #home #tea-selector-nav #position .on {
  background-color: #5f6f00;
}
#steepr #home footer.ui-bar-steepr {
  height: 128px;
  background: url("../img/clove-texture-footer.png") no-repeat center bottom;
  -webkit-background-size: 320px 129px;
  -moz-background-size: 320px 129px;
  background-size: 320px 129px;
}
#steepr #home footer.ui-bar-steepr #steep-button {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin: 14px auto 0;
  width: 104px;
  height: 105px;
  background: url("../img/brushed-metal-steep.png") no-repeat center top;
  -webkit-background-size: 104px 210px;
  -moz-background-size: 104px 210px;
  background-size: 104px 210px;
}
#steepr #home footer.ui-bar-steepr #steep-button:hover {
  background-position: 0 -105px;
}
#steepr #home footer.ui-bar-steepr #steep-button:active {
  margin-top: 15px;
}
