@import 'nib'
 
// functions, mixins, defaults

ir()
  text-indent 100%
  white-space nowrap
  overflow hidden

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section
  margin 0
  padding 0
  border 0
  outline 0
  font-size 100%
  vertical-align baseline
  background transparent

body 
  -webkit-text-size-adjust none
  font-family sans-serif

#steepr
  background url('../img/beige-carpet.png') repeat
  background-size 50px 50px
  .ui-btn-up-steepr,
  .ui-btn-hover-steepr,
  .ui-btn-active-steepr
    ir()
    text-decoration none
    top 5px
    background linear-gradient(top, #4e3d29, #2e2519)
    border 1px solid rgba(36,28,10,.6)
    box-shadow 0 1px #493c2d, 0 2px 5px #2f2519 inset
    border-radius 5px
    width 38px
    height 29px
    .ui-btn-inner
      border 0
      display block
      height 100%
      border-radius 5px
      padding 0
    .ui-icon
      height 24px 22px
      background url('../img/back-arrow.png') no-repeat center center
      background-size 24px 22px
      border none
      box-shadow none
      left 10px
      top 15px
  // darken background on hover/tap/click
  .ui-btn-hover-steepr,
  .ui-btn-hover-active
    background #2e2519

  header.ui-bar-steepr
    height 44px
    background url('../img/clove-texture-81.png') repeat-x
    background-size 50px 44px
    box-shadow 0 1px 10px rgba(0,0,0,0.6)
    .ui-title
      ir()
      margin 0 auto
      height 44px
      width 77px
      background url('../img/steepr-logo.png') no-repeat
      background-size 77px 44px
    .steepr-button
      a
        display block
        ir()
        height 100%
        &:hover
          background #2e2519
    #info,
    #config
      ir()
    #info
      .ui-btn-inner
        background url('../img/i.png') no-repeat center center
        background-size 8px 17px
        
    #config
      .ui-btn-inner
        background url('../img/cogs.png') no-repeat center center
        background-size 19px 23px

#home
  .ui-body-steepr
    padding 0
  #tea-selector
    ul
      background url('../img/brown-paper.png') repeat-x
      background-position 0 -36px
      background-size 1103px 283px
      padding-bottom 37px
      li
        padding-top 17px
        padding-bottom 75px
          margin 0 auto
        .label
          margin 0 auto
          height 130px
          width 300px
          padding 40px 10px 20px
          background url('../img/label-paper.png') no-repeat top center
          background-size 299px 190px
          .counter
            float left
            width 62px
            height 102px
            margin 0 10px 0 28px
            .leaf
              margin 0
              height 100%
              background url('../img/leaf-counter.png') no-repeat center center
              background-size 61px 102px
          .type
            float left
            width 178px
            background transparent
          h2
            text-align center
            color #6B7823
            font normal 48px/40px 'ChunkFiveRegular', serif
            text-shadow 0 1px #fff
            padding-bottom 20px
            border-bottom 1px solid #dbd7ca
          p
            text-shadow 0 1px #fff
            border-top 1px solid #fff
            padding-top 20px
            color #000
            font normal 15px/20px "MuseoSlab500", sans-serif
            .count
              display inline-block
              margin-left 10px
              font-family: "Helvetica Neue","Helvetica","Arial",sans
              font-weight: bold
              color: white
              text-shadow: 0 1px #666
              border-radius 12px
              background: rgba(184, 184, 184, 0.80)
              box-shadow 0 1px 0 #999 inset,0 1px 0 white
              padding: 2px 10px
  #tea-selector-nav
    em
      font-style normal
    #position
      font-size 30px
      line-height 10px
      em
        font-size 30px
        line-height 10px
        display inline-block
        height 10px
        background-color: #c2bbb4;
        background-clip: text;
        color: transparent;
        text-shadow: rgba(255,255,255,0.5) 0px 1px 1px;
      .on
        background-color #5f6f00
    margin 0px auto
    text-align center
  footer.ui-bar-steepr
    height 128px
    background url('../img/clove-texture-footer.png') no-repeat center bottom
    background-size 320px 129px
    #steep-button
      ir()
      display block
      margin 14px auto 0 
      width 104px
      height 105px
      background url('../img/brushed-metal-steep.png') no-repeat center top
      background-size 104px 210px
      &:hover
        background-position 0 -105px
      &:active
        margin-top 15px

#steep
  .leaves
    margin 0 auto
    height 380px
    width 100%
    background url('../img/leaves.png') no-repeat center center
    .mug
      width 100%
      height 380px
      margin inherit
      background url('../img/mug-trans.png') no-repeat center center
      position relative
      .tea
        width 140px
        text-align center
        font normal 70px/80px 'FranchiseRegular'
        position relative
        top 80px
        margin 0 auto
        border-radius 220px
        background rgba(184,165,0,.5)
        padding 75px 40px 65px 40px
        color #fff
        text-shadow 1px 1px #000
