<header data-role="header" class="ui-header ui-bar-a">
  <h1>Brewing {{name}}</h1>
</header>
  <div id="timer">
    <div class="inner">
      <p class="tea">{{name}}</p>
      <time>1<b>:</b>15</time>
      <p class="steeping">steeping</p>
    </div>
  </div>
</div>